body {
  margin: 30px;
  font-family: sans-serif;
  text-align: center;
}

h1, h2 {
  text-align: left;
}

#notesContainer {
  display: inline-block;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  padding: 10px 40px 40px 40px;
  min-width: 350px;
  max-width: 80%;
}

ul {
  padding: 0px;
  text-align: left;
}

.noteItem {
  display: block;
  font-size: 20px;
  list-style: none;
  border-left: 3px solid #9e9e9e;
  padding-left: 20px;
  margin: 20px;
}

.noteItem li {
  display: inline-block;
  padding-right: 20px;
}

.deleteNote {
  background-color: #e75959;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  float: right;
}

.deleteNote:focus {
  outline: none;
}

#addNote {
  margin-top: 50px;
}

#noteTextBox {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

#noteTextBox:focus {
  outline: none;
  box-shadow: 1px 1px 5px rgba(154, 154, 154, 0.4);
}

#submitBtn {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #0063b4;
  background-color: #4ba9f6;
  color: white;
  cursor: pointer;
}

#logoutBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #0063b4;
  background-color: #4ba9f6;
  color: white;
  cursor: pointer;
}

#container {
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  padding: 10px 40px 40px 40px;
  display: inline-block;
}

#container form {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

#container button {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #0063b4;
  background-color: #4ba9f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#container input {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

#container input:focus {
  outline: none;
  box-shadow: 1px 1px 5px rgba(154, 154, 154, 0.4);
}
